rules:
  - channel_name: "Channel .* Name Pattern"
    video_title_pattern: "Interesting Video Episode [0-9]+"
    playlist_name: "Playlist Name"
  - channel_id: "Channel_id"
    playlist_id: "Playlist_id2"
